DEBUG = {{ nginx_novnc_auth_debug }}
WEB_DESKTOP_SIGNING_SECRET_KEY = '{{ web_desktop_signing_secret_key }}'
WEB_DESKTOP_SIGNING_SALT = '{{ web_desktop_signing_salt }}'
WEB_DESKTOP_FP_SECRET_KEY = '{{ web_desktop_fp_secret_key }}'
WEB_DESKTOP_FP_SALT = '{{ web_desktop_fp_salt }}'
MAX_AGE = 3000000  # Maximum age of signature in seconds
